@import "./reset.scss";
@import "./variables";
@import "./themes";

body {
  font: var(--font-m);
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-style: normal;
  letter-spacing: 0.02rem;
  color: var(--textPrimary);
  background-color: var(--bg-primary-inverse);
}

.app {
  display: inline-block;
  width: 100%;
  min-height: 100vh;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
