.Table {
    width: 100%;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.pageInfo {
    white-space: nowrap;
    display: flex;
    gap: 8px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.goToPage {
    display: flex;
    gap: 8px;
    align-items: center;
}

.row {
    background-color: var(--bg-secondary);
}

.cell {
    table-layout: auto;
    padding: 4px 8px;
}
