.Header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-secondary);
  height: var(--header-height);
  align-items: center;
  padding: 0 16px;
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
  // box-shadow: var(--boxShadow);
}

.rightBox {
  display: flex;
  align-items: center;
  gap: 8px;
}
